PruebaCliente/web/WEB-INF/wsdl/localhost_8080/BookInfo/BookInfo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Info/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Info/" name="BookInfo">
<types>
<xsd:schema>
<xsd:import namespace="http://Info/" schemaLocation="http://localhost:8080/BookInfo/BookInfo?xsd=1"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="getBook">
<part name="parameters" element="tns:getBook"/>
</message>
<message name="getBookResponse">
<part name="parameters" element="tns:getBookResponse"/>
</message>
<message name="listBooks">
<part name="parameters" element="tns:listBooks"/>
</message>
<message name="listBooksResponse">
<part name="parameters" element="tns:listBooksResponse"/>
</message>
<message name="insertBook">
<part name="parameters" element="tns:insertBook"/>
</message>
<message name="insertBookResponse">
<part name="parameters" element="tns:insertBookResponse"/>
</message>
<message name="getBooks">
<part name="parameters" element="tns:getBooks"/>
</message>
<message name="getBooksResponse">
<part name="parameters" element="tns:getBooksResponse"/>
</message>
<message name="getBooksByTitle">
<part name="parameters" element="tns:getBooksByTitle"/>
</message>
<message name="getBooksByTitleResponse">
<part name="parameters" element="tns:getBooksByTitleResponse"/>
</message>
<message name="getBooksByAuthor">
<part name="parameters" element="tns:getBooksByAuthor"/>
</message>
<message name="getBooksByAuthorResponse">
<part name="parameters" element="tns:getBooksByAuthorResponse"/>
</message>
<portType name="BookInfo">
<operation name="init">
<input wsam:Action="http://Info/BookInfo/initRequest" message="tns:init"/>
<output wsam:Action="http://Info/BookInfo/initResponse" message="tns:initResponse"/>
</operation>
<operation name="getBook">
<input wsam:Action="http://Info/BookInfo/getBookRequest" message="tns:getBook"/>
<output wsam:Action="http://Info/BookInfo/getBookResponse" message="tns:getBookResponse"/>
</operation>
<operation name="listBooks">
<input wsam:Action="http://Info/BookInfo/listBooksRequest" message="tns:listBooks"/>
<output wsam:Action="http://Info/BookInfo/listBooksResponse" message="tns:listBooksResponse"/>
</operation>
<operation name="insertBook">
<input wsam:Action="http://Info/BookInfo/insertBookRequest" message="tns:insertBook"/>
<output wsam:Action="http://Info/BookInfo/insertBookResponse" message="tns:insertBookResponse"/>
</operation>
<operation name="getBooks">
<input wsam:Action="http://Info/BookInfo/getBooksRequest" message="tns:getBooks"/>
<output wsam:Action="http://Info/BookInfo/getBooksResponse" message="tns:getBooksResponse"/>
</operation>
<operation name="getBooksByTitle">
<input wsam:Action="http://Info/BookInfo/getBooksByTitleRequest" message="tns:getBooksByTitle"/>
<output wsam:Action="http://Info/BookInfo/getBooksByTitleResponse" message="tns:getBooksByTitleResponse"/>
</operation>
<operation name="getBooksByAuthor">
<input wsam:Action="http://Info/BookInfo/getBooksByAuthorRequest" message="tns:getBooksByAuthor"/>
<output wsam:Action="http://Info/BookInfo/getBooksByAuthorResponse" message="tns:getBooksByAuthorResponse"/>
</operation>
</portType>
<binding name="BookInfoPortBinding" type="tns:BookInfo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooksByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooksByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BookInfo">
<port name="BookInfoPort" binding="tns:BookInfoPortBinding">
<soap:address location="http://localhost:8080/BookInfo/BookInfo"/>
</port>
</service>
</definitions>